<div class="bottom container-fluid mt-4 p-4">
    <div class="row">

        <div class="col-md-5 d-flex justify-content-center">
            <a href="https://foodproducersforum.com/" class="atag mt-3">foodproducersforum.com</a>
        </div>
        <div class=" col-md-2 d-flex justify-content-center">

            <a href="https://www.facebook.com/apurba.sinha.73/" class="fa fa-facebook fb"></a>
            <a href="https://www.linkedin.com/in/apurba-sinha-199a3b224/" class="fa fa-twitter"></a>
            <a href="https://github.com/apurbasinha9" class="fa fa-instagram"></a>

        </div>
        <div class="col-md-5 mt-4 d-flex justify-content-center">
            <p class="text text-white">
                PO Box 29047, Torbay Road, St. John's NL A1A 5B5
            </p>
        </div>
    </div>

</div>