<div class="modal" tabindex="-1" role="dialog" id="disclaimermodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">LEGAL DISCLAIMER</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> Food Producers Forum, Inc. is a registered provincial non-profit society
                    dedicated to sharing of publicly accessible information related to food production and food
                    security in Newfoundland and Labrador. We present information from a wide range of sources,
                    curated by a community of contributors. Users of our website are therefore notified that
                    Food
                    Producers Forum does not guarantee the completeness or accuracy of any information on our
                    website. We do our best to review all material, but you are advised that we cannot be held
                    legally responsible for any consequences arising from access to or use of these sources of
                    information, food or other resources or users' interpretation of information derived from
                    articles or links on our website.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<nav class="top navbar navbar-light fixed-top">
    <div class="col-md-3  firstCol">
        <button class="btn btn-outline-warning" data-toggle="modal" data-target="#disclaimermodal">Legal
            Disclaimer
        </button>
    </div>
    <div class="col-md-6 secondCol">
        <a href="/categories" style="text-decoration: none;">
            <h1 class="text text-center">
                <span style="color: #ff9900;font-size: larger;">Food </span>
                <span style="color: #00ff11;font-size: larger;">Producers </span>
                <span style="color: #00ccff;font-size: larger;">Forum</span>
            </h1>
        </a>
    </div>
    <div class="col-md-3 d-flex justify-content-end thirdCol">
        <a class="btn btn-outline-warning" href="/profile">Your Profile</a>
        <a class="btn btn-outline-warning" href="/auth/signout">Sign Out</a>
    </div>

</nav>