<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="/style.css" />
  <title>Food Producers Forum</title>
</head>

<body style="background-color: #dde7e6">
  <nav class="navbar navbar-light justify-content-center" style="background-color: #662113; height: 150px">
    <span class="navbar-brand mb-0 h1">
      <h1 style="font-size: 4.5vw">
        <!-- <span style="color: white;font-size: larger;">WELCOME  TO</span> -->
        <span style="color: #f6a023; font-size: larger">Food </span>
        <span style="color: #1de329; font-size: larger">Producers </span>
        <span style="color: #1dbce3; font-size: larger">Forum</span>
      </h1>
    </span>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="text-design col">
          <h2 style="font-size: 4vw">Welcome to our Membership Pages</h2>
          <p>
            We are a gathering place for food producers in Newfoundland and
            Labrador
          </p>
          <p>
            A place where gardeners, farmers, foragers, hunters and fishers
            meet
          </p>
          <p>
            To share knowledge and experience, ask questions and learn from
            each other
          </p>
          <p>
            MEMBERSHIP gives you complete access to our information, mentors,
            workshops and seasonal events
          </p>
          <h3 class="free" style="font-size: 2vw">MEMBERSHIP IS FREE</h3>
        </div>
        <div class="buttonedit col">
          <!-- <button class="btn btn-lg btn-secondary"><a href="/signup.html">Register</a></button>
                    <button class="btn btn-lg btn-success">Login!</button> -->
          <a href="/signup" class="btn" style="color: white; background-color: #2374e1" role="button">Sign up</a>
          <a href="/signin" class="btn" style="color: white; background-color: #e64816" role="button">Sign in</a>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>