<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="signup.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  </head>


  <body>
    <nav class="navbar navbar-light p-3 justify-content-center">
      <span class="navbar-brand mb-0 h1">
        <a href="/">
          <h1 class="text text-center header">
            <span style="color: #F6A023;font-size: larger;">Food </span>
            <span style="color: #1DE329;font-size: larger;">Producers </span>
            <span style="color: #00ccff;font-size: larger;">Forum</span>
          </h1>
        </a>
      </span>
    </nav>
    <h1 class="text text-center text-white mb-3 signHead">
      Sign up here!
    </h1>
    <div class="container bg-white shadow-sm py-3 p-4 rounded shadow-lg">
      <div class="row">
        <div class="col-md-12">
          <form class="form-horizontal" action="/auth/signup" method="POST">

            <div class="form-group col-md-12">
              <input type="email" class="form-control" placeholder="Enter email" name="email" required />
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group col-md-12">
                  <input type="text" class="form-control" id="exampleInputFirstName" placeholder="Enter first name..."
                      name="firstN" required />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group col-md-12">
                  <input type="text" class="form-control" id="exampleInputLastName" placeholder="Enter last name..."
                      name="lastN" required />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group col-md-12">
                  <input type="password" class="form-control" placeholder="password" name="password" required />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group col-md-12">
                  <input type="password" class="form-control" placeholder="verify password" name="verifyPassword"
                      required />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-9">
                <div class="form-group col-md-12">
                  <input type="text" class="form-control" placeholder="address" name="address" required />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group col-md-12">
                  <input type="text" class="form-control" placeholder="postal code" required />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group col-md-12">
                  <input type="text" class="form-control" placeholder="cell phone" name="phone" required />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group col-md-12">
                  <input type="text" class="form-control" placeholder="telephone (optional)" />
                </div>
              </div>
            </div>

            <div class="row" style="margin-left: 0px; margin-bottom: 10px">


              <div class="col-md">
                <label>MY AGE IS:</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                      value="option1" required />
                  <label class="form-check-label" for="inlineRadio1">under 20</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                      value="option2" required />
                  <label class="form-check-label" for="inlineRadio2">20-29</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                      value="option3" required />
                  <label class="form-check-label" for="inlineRadio3">30-39</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                      value="option3" required />
                  <label class="form-check-label" for="inlineRadio4">40-59</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                      value="option3" required />
                  <label class="form-check-label" for="inlineRadio5">60 or older</label>
                </div>
              </div>
            </div>

            <div class="form-group col-md-12">
              <label for="img">Your profile image: </label>
              <input type="file" id="img" name="img" accept="image/*">
            </div>

            <div class="form-group col-md-12">
              <input type="text" class="form-control" placeholder="FOODS I GROW OR GATHER" />
            </div>
            <div class="form-group col-md-12">
              <input type="text" class="form-control" placeholder="I WANT TO LEARN MORE ABOUT" />
            </div>
            <div class="form-group col-md-12">
              <input type="text" class="form-control" placeholder="SKILLS I CAN SHARE" />
            </div>

            <label style="margin-left: 15px">WHO ELSE SHOULD BE A MEMBER</label>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group col-md">
                  <input type="text" class="form-control" placeholder="name..." required />
                </div>
              </div>
              <div class="col-md-7">
                <div class="form-group col-md">
                  <input type="text" class="form-control" placeholder="email" />
                </div>
              </div>
            </div>

            <div class="row" style="margin-left: 0px; margin-bottom: 10px">
              <div class="col-md">
                <label>I HEARD ABOUT THIS FROM:</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOption" id="inlineRadi1" value="option1"
                      required />
                  <label class="form-check-label" for="inlineRadi1">Friends</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOption" id="inlineRadi2" value="option2"
                      required />
                  <label class="form-check-label" for="inlineRadi2">Social Media</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOption" id="inlineRadi3" value="option3"
                      required />
                  <label class="form-check-label" for="inlineRadi3">email</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOption" id="inlineRadi4" value="option3"
                      required />
                  <label class="form-check-label" for="inlineRadi4">Radio</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOption" id="inlineRadi5" value="option3"
                      required />
                  <label class="form-check-label" for="inlineRadi5">TV</label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12" style="margin-left: 15px">
                <div class="form-check form-check-inline">
                  <label class="form-check-label" for="inlineRadio1">Would you like to receive our
                    email
                    newsletters? [no spam!]</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRad1" value="option1"
                      required />
                  <label class="form-check-label" for="inlineRad1">yes</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRad2" value="option2"
                      required />
                  <label class="form-check-label" for="inlineRad2">no</label>
                </div>
              </div>
            </div>




            <p class="text lastP mt-3">
              Membership is free. A donation of any size will
              help us provide valuable information services
              for food producers.
            </p>



            <a href="https://donorbox.org/foodproducersforum" target="_blank" class="btn btn-success btn-block"
                style="margin-bottom: 10px; margin-top: 10px">
              Donate
            </a>
            <button type="submit" class="btn btn-primary btn-block">
              Submit Sign-up Form
            </button>
          </form>

          <% if(message !='' ){ %>
            <% if(message==='user registered' ){ %>
              <div class="alert alert-success">
                <%= message %>
              </div>
              <% } %>
                <% if(message !=='user registered' ){ %>
                  <div class="alert alert-danger">
                    <%= message %>
                  </div>
                  <% } %>
                    <% } %>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
  </body>

</html>