/* .navbar h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;

} */
@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  text-align: center;
}

.container {
  background-color: #1493f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.68);
  margin-top: 2%;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.text-design p {
  color: #a6ff00;
  font-size: 24px;
}

.buttonedit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonedit a {
  padding: 12px 50px 12px 50px;
  font-size: 25px;
  margin: 10px;
}

/* 
@media (max-width:768px){
    .container{
        background-color: white;
    }
} */
