body {
    background-image: url('/images/image.jpeg');
    background-size: cover;
    /* background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/image.jpeg'); */
}



h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #224F15;
}

.card-img-top {
    width: 100% !important;
    height: 9vw !important;
    object-fit: cover !important;
}

.container {
    border: 2px solid greenyellow;
}

.catCard {
    border: none !important;
}

.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .6s transform cubic-bezier(.155, 1.105, .295, 1.12), .6s box-shadow, .6s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);

}

.top {
    background-color: rgba(0, 0, 0, 0.5);
}

.top .btn {
    color: white;

    font-size: 20px;
    margin: 5px;
}

.bottom {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.bottom h3 {
    color: #FFC107;
}


.fa {
    padding: 17px;
    font-size: 30px !important;
    border-radius: 30%;
    margin: 5px;
}

.fa:hover {
    opacity: 0.7;

}


.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #fff;
    color: black;
}



@media(max-width:768px) {
    .container {
        width: 100%;
        background: none;
        border: none;
    }


    .thirdCol {

        flex-direction: column;
    }


    .top h1 {
        width: 95%;
        font-size: 20px;
        margin: 0;
    }

    .secondCol .text {
        margin-left: 9px;
    }

    .firstCol {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }

    .card-img-top {
        height: 250px !important;
    }

    .top> :nth-child(1) {
        order: 2;
    }

    .top> :nth-child(3) {
        order: 3;
    }
}


.container a p {
    color: black;
}

.container a:hover {
    text-decoration: none;
}